* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.time-and-focus {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 15px;
}

.current-time {
  font-size: 7.5rem;
  margin-top: -4rem;
}

.greeting {
  font-size: 3.5rem;
}

.focus-ask {
  font-size: 2rem;
}

.focus-input {
  width: 90%;
  height: 3rem;
  border: transparent;
  border-bottom: 3px solid white;
  font-size: 1.5rem;
  text-align: center;
  outline: none;
  background-color: transparent;
  caret-color: white;
  color: white;
  font-weight: bold;
}

.quote-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote-section:hover * {
  visibility: visible;
}

.plus-icon {
  height: 24px;
  width: 24px;
  fill: white;
}

.detailed-landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  align-items: center;
}
.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: white;
}
.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: white;
}

.event-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-and-search {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.quote-author {
  visibility: hidden;
}

.main-focus-checkbox {
  font-weight: lighter;
  font-size: 2rem;
  display: flex;
  gap: 20px;
  width: auto;
  align-items: center;
}
.main-focus-checkbox input {
  height: 1.2rem;
  width: 1.2rem;
  accent-color: rgb(23, 168, 23);
}

.pencil-icon,
.trash-icon {
  height: 20px;
  width: 20px;
}

.focus-given {
  font-size: 1.5rem;
  font-weight: lighter;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.focus-ask {
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.focus-set,
.focus-not-set {
  display: flex;
  align-items: center;
  flex-direction: column;
}
