* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.time-and-focus {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 15px;
}

.current-time {
  font-size: 7.5rem;
  margin-top: -4rem;
}

.greeting {
  font-size: 3.5rem;
}

.focus-ask {
  font-size: 2rem;
}

.focus-input {
  width: 90%;
  height: 3rem;
  border: transparent;
  border-bottom: 3px solid white;
  font-size: 1.5rem;
  text-align: center;
  outline: none;
  background-color: transparent;
  caret-color: white;
  color: white;
  font-weight: bold;
}

.quote-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plus-icon {
  height: 24px;
  width: 24px;
  fill: white;
}

.detailed-landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  align-items: center;
}
.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: white;
}
.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: white;
}

.event-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-and-search {
  display: flex;
  align-items: center;
  gap: 2rem;
}
